/* CSS WEB */

img {
    width: 100px;
}

.container {
    width: 100%;
    margin : auto;
}

.header {
    background-color: rgb(174, 124, 255);
    padding: 20px;
    text-align: center;
}

div.header li {
    display: inline;
    height: 80%;
    width: auto;
    background-color: rgb(252, 141, 204);
    margin-right: 20px;
    font-size: 20px;
    color: rgb(8, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    background-color: rgb(131, 210, 255);
    height: 80%;
    width: auto;
    padding: 20px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top:    10px;
    color: rgb(33, 33, 33);
}

.footer {
    background-color: rgb(103, 187, 255);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}